.profileContainer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.profileMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 800px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feedContainer {
  display: flex;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profilePicture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.description {
  font-size: 16px;
  color: gray;
  margin-top: 5px;
}

.userDetails {
  font-size: 14px;
  color: #777777;
  margin-top: 10px;
}

.friendsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.friendsContainer h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.friendsList {
  display: flex;
  flex-wrap: wrap;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  height: 180px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.friend:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.friend img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.friend p {
  font-size: 16px;
  color: gray;
  text-align: center;
  margin: 0;
}

#friendstitle {
  margin-left: 15px;
}

.link {
  text-decoration: none;
}

.followBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.followBtn:hover {
  background-color: #dddddd;
}

.followBtn svg {
  margin-right: 4px;
}
